<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/chat.css}">
    <title>Interface de Chat</title>
</head>
<body>
<div class="sidebar">
    <img th:src="@{/img/logo.svg}" alt="Logo"> <!-- substituir pela imagem do logo-->
</div>
<div class="chat-container">
    <div class="chat-header">

        <h1 th:text="${usuario2.nome}"></h1>
    </div>
    <div class="chat-body">

        <div th:each="mensagem : ${mensagens}">
            <div th:switch="${mensagem.mensagemID.remetente==usuario1.id}" >
                <div th:case="true"><p th:text="'Você: ' + ${mensagem.conteudo}"></p></div>
                <div th:case="false"><p th:text="${usuario2.nome}+': ' + ${mensagem.conteudo}"></p></div>
            </div>

        </div>

    </div>
    <div >
        <form class="chat-footer" method="post" th:action="@{/enviar-mensagem/{id}(id=${usuario2.id})}">
            <input type="text" id="mensagem" name="mensagem" maxlength="255" minlength="1" required>
            <button type="submit">Enviar mensagem</button>
        </form>
    </div>
</div>
</body>
</html>