<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Torneios</title>

    <!-- Importar CSS -->
    <link rel="stylesheet" href="static/css/eventos.css" th:href="@{/static/css/eventos.css}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div class="header-left">
        <div class="logo-container">
            <h1 class="title">Taverna</h1>
            <img src="/static/img/LogoEscurecida.svg" alt="Logo Taverna" class="logo" th:src="@{/imagens/logoEscurecida.svg}">
        </div>
    </div>
    <div class="header-right">
        <a href="#" class="add-button">
            <span class="add-icon">+</span> Adicionar
        </a>
    </div>
</header>

<section class="filtros">
    <form action="#" method="get">
        <fieldset>
            <legend>Filtros</legend>

            <label>
                <input type="checkbox" id="filtro1" name="jogo" value="YuGiOh">
                Yu-Gi-Oh
            </label>

            <label>
                <input type="checkbox" id="filtro2" name="jogo" value="MagicTheGathering">
                Magic: The Gathering
            </label>

            <label>
                <input type="checkbox" id="filtro3" name="jogo" value="Pokemon">
                Pokémon Card Game
            </label>

            <button type="submit">Buscar</button>
        </fieldset>
    </form>
</section>

<section class="torneios">
    <!-- Renderizando eventos dinamicamente com Thymeleaf -->
    <div th:each="evento : ${eventos}" class="torneio-card"
         th:classappend="${evento.jogo} == 'Yu-Gi-Oh' ? 'yugioh' :
                            (evento.jogo == 'Magic: The Gathering' ? 'magic' :
                            (evento.jogo == 'Pokémon Card Game' ? 'pokemon' : ''))">
        <div class="torneio-info">
            <h2 th:text="'Nome: ' + ${evento.nome}">Nome: Torneio</h2>
            <p th:text="'Tipo de Jogo: ' + ${evento.jogo}">Tipo de Jogo: </p>
            <p th:text="'Modalidade: ' + (${evento.presencial} ? 'Presencial' : 'Online')">Modalidade: </p>
            <p th:text="'Inscrição: R$' + ${#numbers.formatDecimal(evento.inscricao, 2, 2)}">Inscrição: </p>
            <p th:text="${evento.presencial} ? 'Endereço: ' + ${evento.endereco} : 'Link: ' + ${evento.endereco}">Endereço ou Link: </p>
            <p th:text="'Data: ' + ${#dates.format(evento.data, 'dd/MM/yyyy HH:mm')}">Data: </p>
        </div>
    </div>
</section>

<footer>
    <div class="pagination">
        <span>&laquo;</span>
        <span th:each="i : ${#numbers.sequence(1, totalPaginas)}" th:text="${i}" th:classappend="${i == paginaAtual} ? 'active'"></span>
        <span>&raquo;</span>
    </div>
</footer>
</body>
</html>
