<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Inria+Serif:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<div th:replace="header :: header"></div>
<div class="filtros">
    <h2>Filtros</h2>
    <form>
        <div class="checkbox-group">
            <input type="checkbox" id="yu-gi-oh" name="yu-gi-oh">
            <label for="yu-gi-oh">Yu-Gi-Oh!</label>
        </div>
        <div class="checkbox-group">
            <input type="checkbox" id="magic" name="magic">
            <label for="magic">Magic</label>
        </div>
        <div class="checkbox-group">
            <input type="checkbox" id="pokemon" name="pokemon">
            <label for="pokemon">Pokemon</label>
        </div>
    </form>
    <button type="button" id="buscar">Buscar</button>
</div>
<div class="banners">
    <div class="banner" id="banner1">
        <img src="img/eventosImg/eventoYugioh.png" alt="Banner 1" height="120" width="300">
        <p>Nome: Piedade WCQ<br>
            Tipo de Jogo: Yu-Gi-Oh!<br>
            Modalidade: Online<br>
            Inscrição: R$7,00<br>
            Link: www.site.com.br<br>
            Data: 02/05/2023 às 14:00</p>
    </div>
    <div class="banner" id="banner2">
        <img th:src="@{img/eventosImg/eventoMagic.png}" alt="Banner 2" height="120" width="300">
        <p>Nome: Copa Basdão<br>
            Tipo de Jogo: Magic The Gathering<br>
            Modalidade: Presencial<br>
            Inscrição: R$10,00<br>
            Endereço: Rua do Limoeiro 123<br>
            Data: 30/04/2023 às 19:30</p>
    </div>
    <div class="banner" id="banner3">
        <img th:src="@{img/eventosImg/eventoPokemon.png}" alt="Banner 3" height="120" width="300">
        <p>Nome: Ginásio Plus Power Shop<br>
            Tipo de Jogo: Magic The Gathering<br>
            Modalidade: Presencial<br>
            Inscrição: R$10,00<br>
            Endereço: Rua do Limoeiro 123<br>
            Data: 30/04/2023 às 19:30</p>
    </div>
</div>
<div th:replace="footer :: footer"></div>
</body>
</html>