<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/geral.css}">
</head>
<body>
    <header class="header">
        <div class="row bg-dark gap-2">
            <div class="col-1"></div> <!--espaço pulado-->
            <div class="col-3"><a class="link-light link-underline-opacity-0" href="/">Taverna</a></div>
            <div class="col-8"></div><!--espaço pulado-->
        </div>
    </header>
    <section class="section">
        <div class="container">
            <h1>Taverna</h1>
            <a href="#" class="btn">Buscar jogadores</a>
            <a href="#" class="btn">Buscar Eventos</a>
        </div>
    </section>

    <footer class="footer">
        <div class="row bg-dark gap-2" >
            <div class="col-4"></div> <!--espaço pulado-->
            <div class="col-4">Taverna-2024</div>
            <div class="col-4"></div> <!--espaço pulado-->
        </div>
    </footer>
</body>
</html>