<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
    <title>Login</title>

</head>
<body>
<div class="container">
    <div class="left">
        <img th:src="@{/img/logo.svg}" alt="Logo"> <!-- Colocar aqui imagem de logo -->
    </div>
    <div class="right">
        <h2>Login</h2>
        <p>Se você já tem uma conta realize o login.</p>
        <form th:action="@{/confirmar-login}" method="post">
            <label for="login">Login: </label>
            <input type="text" id="login" name="login" maxlength="40" required>
            <br>
            <label for="senha">Senha: </label>
            <input type="password" id="senha" name="senha" maxlength="20" required>
            <br>
            <button type="submit">Realizar login</button>
        </form>
        <div class="register-link">
            <p>Não tem uma conta? <a href="@{register}">Registre-se aqui</a></p>
        </div>
    </div>
</div>
</body>
</html>