<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/geral.css}">
    <title>Perfil do Usuário</title>
</head>

<body>
    <div th:replace="header :: header"></div>
    <section class="section">
        <div class="container">
            <div th:switch="${usuario}">
                <div th:case="null">
                    <div class="profile-image"></div>
                    <div class="profile-info">
                        <h1>Usuário não encontrado!</h1>
                    </div>
                </div>
                <div th:case="*">
                    <div class="profile-image"></div>
                    <div class="profile-info">
                        <h1 th:text="${usuario.nome}"></h1>
                        <script>
                            let jsonString = "[[${usuario.getEndereco()}]]".replace(/&quot;/g, '"');
                            endereco = JSON.parse(jsonString)
                            document.write(endereco.cidade+', '+endereco.estado)
                        </script>

                        <h2>Interesses:</h2>
                        <div th:each="interesse : ${usuario.getInteresses()}">
                            <p th:text="${interesse.interesse}"></p>
                        </div>
                    </div>
                    <div th:if="${dono==true}">
                        <a id="editar" class="btn btn-secondary btn-sm" th:href="@{/editar-perfil}">Editar perfil</a>
                        <a id="Ver amigos" class="btn btn-secondary btn-sm" th:href="@{/ver-amigos}">Ver amigos</a>

                    </div>
                </div>
            </div>

        </div>
    </section>
    <div th:replace="footer :: footer"></div>
</body>
</html>
