<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil do Usuário</title>
</head>

<body>
    <header class="header">
        <div class="row bg-dark gap-2">
            <div class="col-1"></div> <!--espaço pulado-->
            <div class="col-3"><a class="link-light link-underline-opacity-0" href="/">Taverna</a></div>
            <div class="col-8"></div><!--espaço pulado-->
        </div>
    </header>
    <section>

    <div class="container">
        <div class="profile-image"></div>
        <div class="profile-info">
            <h1>José da Silva</h1>
            <p>Londrina, Paraná</p>
            <p>Magic, Dungeons & Dragons.</p>
        </div>
        <div class="buttons">
            <button>Editar perfil</button>
            <button>Ver amigos</button>
        </div>
    </div>
</section>
    <footer class="footer">
        <div class="row bg-dark gap-2" >
            <div class="col-4"></div> <!--espaço pulado-->
            <div class="col-4">Taverna-2024</div>
            <div class="col-4"></div> <!--espaço pulado-->
        </div>
    </footer>
</body>
</html>
